<section class="bg-primary text-white h-72 my-8 py-4">
  <div class="container mx-auto px-8">
    <h3>Categories</h3>
    <div class="flex items-center justify-around">
      <div>
        <h5>Category</h5>
        <ul>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
        </ul>
      </div>
      <div>
        <h5>Category</h5>
        <ul>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
        </ul>
      </div>
      <div>
        <h5>Category</h5>
        <ul>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
        </ul>
      </div>
      <div>
        <h5>Category</h5>
        <ul>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
        </ul>
      </div>
      <div>
        <h5>Category</h5>
        <ul>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
          <li>Tag</li>
        </ul>
      </div>
    </div>
  </div>

</section>