<section class="bg-secondary text-white h-72 my-8 py-4">
  <div class="container mx-auto px-8">
    <h3>Categories</h3>

    <ul class="grid grid-cols-4">
    {% for tag in collections.tagList | filterTagList %}
    <li class="px-2 py-4">
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="capitalize">{{ tag }}</a>
    </li>
    {% endfor %}</ul>
  </div>

</section>