{% import "layouts/doccard.njk" as cardLayouts %}

<section class="my-8">
  <h3 class="text-center">What can PWAs do on Windows?</h3>
  <div class="text-center">
    Looking to build a new app but not sure that the web has the APIs to build the functionality that is crucial to your application?
    Check out our API demos below to see all of the advanced functionality that PWAs can offer thanks to Microsoft Edge and <a href="https://www.chromium.org/teams/web-capabilities-fugu">Project Fugu</a>
  </div>
  {{ cardLayouts.trending(demos)}}

  <h3 class="text-center">Featured Demo Apps</h3>
  <div class="text-center">
    Looking for inspiration for your next app? Or just want to experience how an excellent PWA works on Windows?
    Check out our demo apps below, these are PWAs that provide a great user experience on Windows and serve to showcase the power and user experience of PWAs.
  </div>
  {{ cardLayouts.featured(demos)}}

  <!-- temp - remove after deciding how to receive demos from the community"-->
  <!--<h3 class="text-center">Demos from the community!</h3>
  <div class="text-center">Have a great web or PWA related demo? Let us know </div>
  {{ cardLayouts.trending(demos)}}-->
</section>