---
title: Image recommendations for Windows PWA packages
excerpt: Everything you need to know on how to control the look & feel of your icons on the Windows platform
---

{% import "layouts/doccard.njk" as cardLayouts %}

<section class="my-8">
  <h3 class="text-center">Recommended documentation</h3>
  {{ cardLayouts.featured(docs)}}
  <h3 class="text-center">Documentation</h3>
  {{ cardLayouts.trending(docs)}}
</section>