{% import "layouts/doccard.njk" as cardLayouts %}

<section class="my-8">
  <h3 class="text-center">Main documentation</h3>
  {{ cardLayouts.featured(docs)}}
  <h3 class="text-center">Recommended Documentation</h3>
  {{ cardLayouts.trending(docs)}}
</section>