<footer role="contentinfo" class="w-full p-4 flex items-center justify-center space-x-2">
    <span class="text-xs">&copy; {{ meta.footer_title }} {{ build.timestamp | dateToFormat('yyyy') }}</span>
</footer>