<footer class="w-full flex items-center justify-between mb-8 px-8" role="contentinfo">
  <div class="mr-12">
    <p class="mb-3 text-xs">
      &copy; PWA Builder was founded by Microsoft as a community guided, open
            source project to help move PWA adoption forward.
    </p>
    <ul class="flex">
      <li class="mr-2">
        <a class="text-xs underline" href="/privacy">Our Privacy Statement</a>
      </li>
      <li>
        <a class="text-xs underline" href="/terms">Terms of use</a>
      </li>
    </ul>
  </div>
  <ul class="flex justify-center items-center">
    <li class="mx-2 my-1">
      <ion-icon name="logo-twitter"></ion-icon>
    </li>
    <li class="mx-2 my-1">
      <ion-icon name="logo-youtube"></ion-icon>
    </li>
    <li class="mx-2 my-1">
      <ion-icon name="logo-github"></ion-icon>
    </li>
  </ul>
</footer>