{% import "layouts/post-layout.njk" as postLayout %}

<section class="my-8">
  <h3 class="text-center">Featured posts</h3>
  {{ postLayout.featured(posts)}}
  <h3 class="text-center">Trending posts</h3>
  {{ postLayout.trending(posts)}}
</section>