{% import "layouts/postcard.njk" as cardLayouts %}

<section class="my-8">
  <h3 class="text-center">Featured posts</h3>
  {{ cardLayouts.featured(posts)}}
  <h3 class="text-center">Trending posts</h3>
  {{ cardLayouts.trending(posts)}}
</section>