{
  "env": {
    "node": true
  },
  "extends": ["plugin:prettier/recommended", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["babel", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
