/* Prism Code Highlighting Theme (see https://prismjs.com) */
@import url("https://cdn.jsdelivr.net/npm/prism-themes@1.5.0/themes/prism-dracula.css");

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Bold.ttf");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

:root {
  --font-family: Hind;
  --font-color: #292c3a;
  --secondary-font-color: #808080;
  --font-bold: 700;
  --font-medium: 400;

  --font-size: 14px;
  --small-font-size: 12px;
  --small-medium-font-size: 22px;
  --medium-font-size: 28px;
  --large-font-size: 32px;
  --xlarge-font-size: 44px;

  --primary-background-color: #f4f4f4;
  --primary-color: #292c3a;
  --secondary-color: #f4f4f4;

  --button-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  --button-radius: 44px;
  --mobile-button-radius: 61px;
  --mobile-button-height: 64px;
  --mobile-button-fontsize: 22px;
  --desktop-button-height: 40px;

  --input-radius: 8px;

  --link-color: #5d5db9;
  --mobile-link-color: #0683f9;

  --list-border: 0.67681px solid #e5e5e5;
  --success-color: #a2f4cc;
  --light-primary-color: rgba(255, 255, 255, 0.6);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #f4f4f4;
    --secondary-font-color: #eeeeee;

    --primary-background-color: black;
    --primary-color: #f4f4f4;
    --secondary-color: #eeeeee;
  }
}

* {
  box-sizing: border-box;
}

:not(pre) > code[class*="language-"] {
  /* Fixes issue where theme removes indentation. */
  white-space: pre;
}

html,
body {
  font-size: min(max(var(--font-size), 4vw), 22px);
  font-family: var(--font-family), sans-serif;
  line-height: 1.5;
  color: var(--font-color);
  background: var(--primary-background-color);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  @apply antialiased;
}

p,
li,
a {
  font-size: 1rem;
  transition: all 200ms ease-in;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold leading-tight mt-3 break-words;
  transition: all 200ms ease-in;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

a {
  @apply font-bold;
}

a:hover {
  @apply underline;
}

p {
  @apply text-lg;
}

pre {
  @apply my-2 text-sm tracking-wider break-words;
  border-radius: 25px;
}

hr {
  @apply mt-4 mb-2 border-b border-gray-600;
}

small {
  font-size: 0.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**
 * Disable animations if the user has turned on the a11y option for reduced motion due to 
 * vestibular disorders etc.
 * 
 * @link https://css-tricks.com/introduction-reduced-motion-media-query/#article-header-id-3
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    transition-duration: 0.01s !important;
  }
}

/**
 * Selectively disable the default focus style by selecting for the case when the polyfill 
 * is loaded and [data-focus-visible-added] attribute is not applied to the element:
 *
 * @link https://github.com/WICG/focus-visible#2-update-your-css
 */
.js-focus-visible :focus:not([data-focus-visible-added]) {
  @apply outline-none;
}
