@import './variables.css';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: min(max(var(--font-size), 4vw), 22px);
  font-family: var(--font-family), sans-serif;
  line-height: 1.5;
  color: var(--font-color);
  background: var(--primary-background-color);
  padding: 0;
  margin: 0;
  background: var(--primary-background-color);
}

p,
li,
a {
  font-size: 1rem;
  transition: all 200ms ease-in;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 200ms ease-in;
  word-break: break-word;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
