---
layout: layouts/base.njk
title: PWD Blog
---
<div id="site">
  <p>Edit <code>src/index.njk</code> and save to reload.</p>
  <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">{{title}}</a>
</div>