---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - doc
    - docs
    - tagList
  addAllPagesToCollections: true
layout: home.njk
eleventyComputed:
  title: Category {{ tag }}
permalink: /tags/{{ tag | slug }}/
---
<h1>Search Results</h1>

{% set posts = collections[ tag ] %}
{% include "postslist.njk" %}
